.config
*.o
*.pyc
.env
.env.*
.venv
venv/
__pycache__/

# gtags
GTAGS
GRTAGS
GPATH

# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#
# MacOS directory files
.DS_Store

# eclipse setting
.settings

# Example project files

**/sdkconfig
**/sdkconfig.old
**/build
**/managed_components
**/dependencies.lock
**/dist

# gcov coverage reports
*.gcda
*.gcno
coverage.info
coverage_report/

.vscode

# Doxygen
docs/output

# Lychee
.lycheecache